/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Heading styles */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

h2 {
    margin-top: 30px;
    color: #555;
}

/* Paragraph styles */
p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 16px;
}

/* Container styles */
.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Decorative styles */
.decorative-box {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.decorative-box h3 {
    margin-top: 0;
    color: #555;
}

.decorative-box p {
    color: #666;
}

/* Accent color */
.accent-color {
    color: #6c757d;
    font-weight: bold;
}

/* Highlight color */
.highlight-color {
    color: #007bff;
    font-weight: bold;
}

 /* Add Pokémon font if available */
@import url('https://fonts.googleapis.com/css2?family=Pokemon+GB&display=swap');

/* Apply Pokémon font if available */
body {
    font-family: 'Pokemon GB', sans-serif;
}