/* Default styles for all screen sizes */
body {
    font-family: 'Press Start 2P', cursive; /* Gameboy-like font */
    margin: 0;
    background-color: #d3d3d3; /* Gameboy gray background */
}

.main {
    width: 80%; /* Set width of child divs */
    background-color: #fff; /* White background */
    padding: 20px; /* Padding */
    margin: 10px; /* Margin */
    border: 5px solid #000; /* Black border */
    border-radius: 8px;
}

#header a {
    float: left;
    display: block;
    color: #fff; /* White text */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#header a:hover {
    background-color: #000; /* Black background on hover */
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cc0000; /* Pokémon red */
    color: #fff; /* White text */
    padding: 10px;
    margin-top: 0; /* Remove margin from the top */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#header h1 {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

#header a {
    text-decoration: none;
    color: #fff; /* White text */
}

.introduction {
    padding: 250px;
    text-align: center;
    background-image: url('https://media1.tenor.com/m/pz6dsCxL2JoAAAAC/pokemon-daycare.gif');
    color: #fff; /* White text */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-size: cover; /* Ensures the background image covers the entire background */
    background-position: center; /* Centers the background image */
}

.introduction h1, .introduction p {
    font-size: 40px;
    color: #ffcc00; /* Pokémon yellow */
    background-color: black; /* Set the background color */
    display: inline-block; /* Make sure the background matches the text width */
    border-radius: 10px; /* Set the border radius to make corners more round */
    margin: 10px; /* Add margin around the inline element */
}

.introduction p {
    font-size: 20px;
    display: inline-block;
    border-radius: 10px; /* Set the border radius to make corners more round */
}

.image {
    width: 90%;
    height: auto;
}

.image2 {
    width: 90%;
    height: auto;
}

h1 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

/* Media query for phones */
@media only screen and (max-width: 600px) {
    .main {
        width: 100%; /* Make main content full width */
        padding: 10px; /* Reduce padding */
    }

    #header {
        flex-direction: column; /* Stack header items vertically */
        padding: 5px; /* Reduce padding */
    }

    #header a {
        padding: 10px; /* Adjust padding for links */
    }

    .introduction {
        padding: 100px 20px; /* Adjust padding for introduction section */
    }

    .introduction h1, .introduction p {
        font-size: 24px; /* Adjust font size */
    }

    .image, .image2 {
        width: 100%; /* Make images full width */
    }

    body {
        font-size: 16px; /* Adjust base font size */
    }
}
